<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
{{ partial "head.html" . }}
</head>
    <body>
    <div class="article">
       {{ partial "nav-no-effect.html" . }}
    <section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                {{ .Content }}
                <br>
                <br>
                <p style="text-align: center;"><a href="{{ .Site.BaseURL }}/#{{ .Section }}"><i class="fa fa-chevron-circle-left"> back</i></a>
            </div>
        </div>
        {{ partial "js.html" . }}
    </div>
    </section>
        {{ partial "footer.html" . }}
    </div>
    </body>
</html>
