{{ "<!-- CONTACT -->" | safeHTML }}
<div class="bg-gray contact-section" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.contact.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
                <p class="text-muted">{{ with .Site.Params.contact.description }}{{ . | markdownify }}{{ end }}</p>
                <p class="text-muted">〒169-8555 東京都新宿区大久保3-4-1 55号館N棟406号室</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-lg-offset-3 col-xs-6 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p class="text-muted">{{ with .Site.Params.contact.phone }}{{ . }}{{ end }}</p>
            </div>
            <div class="col-lg-3 col-xs-6 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:{{ with .Site.Params.contact.email }}{{ . }}{{ end }}">{{ with .Site.Params.contact.email }}{{ . }}{{ end }}</a></p>
            </div>
            <!--<div class="col-lg-2 text-center">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="https://twitter.com/{{ with .Site.Params.contact.twitter }}{{ . }}{{ end }}">@{{ with .Site.Params.contact.twitter }}{{ . }}{{ end }}</a></p>
            </div>-->
            <!--<div class="col-lg-2 text-center">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="https://www.facebook.com/takahiro.kosaka.77">our page</a></p>
            </div>-->
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <br>
                <p class="text-muted small">※このサイトでは、<a href="http://piapro.jp/license/pcl/summary">ピアプロ・キャラクター・ライセンス</a>に基づいてクリプトン・フューチャー・メディア株式会社のキャラクター「初音ミク」を描いた作品を掲載しています。
            </div>
        </div>
    </div>
</div>
