{{ "<!-- KEYWORDS -->" | safeHTML }}
<section>
    <div class="container" id="keywords">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 class="section-heading">{{ with .Site.Params.keywords.headline }}{{ . }}{{ end }}</h2>
                <div class="col-lg-10 col-lg-offset-1">
                    <p class="text-muted">{{ with .Site.Params.keywords.description }}{{ . }}{{ end }}</p>
                </div>
            {{ range .Site.Params.keywords.list }}
            <div class="col-lg-3 col-xs-6 text-center">
                    <br>
                    <i class="fa fa-4x {{ .icon }} wow bounceIn text-primary"></i>
                    <br>
                    <h4>{{ .title }}</h4>
                    <p class="text-muted">{{ .description }}</p>
            </div>
            {{ end }}
        </div>
    </div>
</section>
