{{ "<!-- KEYWORDS -->" | safeHTML }}
<section class="bg-primary">
    <div class="container" id="people">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 text-center">
                <h2 class="section-heading">{{ with .Site.Params.people.headline }}{{ . }}{{ end }}</h2>
            </div>
            <div class="col-lg-3 col-xs-4 text-center">
                <h3 class="section-heading">{{ with .Site.Params.people.category1 }}{{ . }}{{ end }}</h2>
                <hr class="light">
                <br>
            </div>
        </div>
        <div class="row">
            {{ range .Site.Params.people.member }}
            <div class="col-lg-3 col-xs-3">
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <img src="img/people/{{ .img }}" class="img-responsive wow bounceIn" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h4>{{ .name }}</h4>
                        <p class="text-faded small">{{ .description }}</p>
                    </div>
                </div>
                <div class="service-box">
                </div>
            </div>
            {{ end }}
        </div>
        <div class="row">
            <div class="col-lg-3 col-xs-4 text-center">
                <br>
                <h3 class="section-heading">{{ with .Site.Params.people.category2 }}{{ . }}{{ end }}</h2>
                <hr class="light">
                <br>
            </div>
        </div>
        <div class="row">
            {{ range .Site.Params.people.obog }}
            <div class="col-lg-3 col-xs-3">
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <img src="img/people/{{ .img }}" class="img-responsive wow bounceIn" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h4>{{ .name }}</h4>
                        <p class="text-faded small">{{ .description }}</p>
                    </div>
                </div>
                <div class="service-box">
                </div>
            </div>
            {{ end }}
        </div>
        </div>
    </div>
</section>
