<section id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.projects.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
                <p class="text-muted">{{ with .Site.Params.projects.description }}{{ . }}{{ end }}</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            {{ range .Site.Data.projects }}
            <div class="col-lg-4 col-xs-6">
                <a href="/projects/test?modalid={{ .modalID }}" class="portfolio-box portfolio-link">
                    <img src="img/projects/{{ .img }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ .keyword }}
                            </div>
                            <div class="project-name">
                                {{ .title }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>
