{{ "<!-- VISION -->" | safeHTML }}
<section class="bg-primary" id="vision">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.vision.headline }}{{ . }}{{ end }}</h2>
                <hr class="light">
                <p class="text-faded">{{ with .Site.Params.vision.description }}{{ . }}{{ end }}</p>
                <a href="#" class="btn btn-default btn-xl">{{ with .Site.Params.vision.buttonText }}{{ . }}{{ end }}</a>
            </div>
        </div>
    </div>
</section>
