<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">

        {{ partial "nav.html" . }}

        {{ partial "hero.html" . }}
        {{ partial "vision.html" . }}
        {{ partial "keywords.html" . }}
        {{ partial "news.html" . }}
        {{ partial "projects.html" . }}
        {{ partial "contact.html" . }}

        {{ partial "projectsmodals.html" . }}
        {{ partial "newsmodals.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
